<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
  </head>
  <body>
    <nav class="navbar navbar-default">
      <ul class="nav navbar-nav">
        <li><a href="/mark">Mark</a></li>
        <li><a href="/melvin">Melvin</a></li>
        <li><a href="/shirley">Shirley</a></li>
        <li><a href="/jackie">Jackie</a></li>
        <li><a href="/lisa">Lisa</a></li>
      </ul>
    </nav>
