<%- include partials/header.ejs %>
  <style>
  .center {
      text-align: center;
  }
  </style>
  <div class="center">
      <h1><%= header %></h1>
      <img src="/images/gandalf.png" />
      <p><%= message %></p>
  </div>
<%- include partials/footer.ejs %>
